*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}
.slider {
    width: 500px;
}
.img {
    width: 500px;
}

.input-cont {
    display: flex;
}