@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto';
    margin: 0;
}
.image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}
.slider {
    width: 300px;
}
.img {
    width: 600px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.label {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.input-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}
#reset {
    padding: 8px 20px;
    background-color: rgb(42, 153, 238);
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 50px;
    cursor: pointer;
}
#reset:hover {
    background-color: rgb(91, 179, 247);
}
.image-editor {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 100px;
}
a {
    color: black;
}
@media only screen and (max-width: 600px) {
    body {
        margin-top: 20px;
    }
    .img {
        width: 400px;
    }
    .image-editor {
        display: grid;
        grid-template-rows: 1fr;
    }
    .inputs {
        grid-row: 2 / 2;
    }
}